@import url("https://fonts.googleapis.com/css?family=Nova+Slim&display=swap");

body,
html {
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  color: #555e58;
  text-transform: capitalize;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-weight: 400;
  line-height: 1.5em;
}

p {
  font-size: 15px;
  margin: 12px 0 0;
  line-height: 24px;
}

a {
  color: #333;
  font-weight: 400;
}

button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0px;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
}

/*=======================================================
  material-icons  copy & paste form site google material-icons
  ==================================================*/

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/*=======================================================
  material-icons  copy & paste form site google material-icons
  ==================================================*/

.wrapper {
  position: relative;
  width: 100%;
  overflow: auto;
}

/* ---------------------------------------------------
    SIDEBAR STYLE start
----------------------------------------------------- */

#sidebar {
  position: fixed;
  height: 100vh !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  width: 260px;
  overflow: auto;
  transition: all 0.3s;
  background: #ffffff;
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%),
    0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#sidebar::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background-color: #eee;
  display: none;
}
#sidebar::-webkit-scrollbar-thumbs {
  width: 5px;
  border-radius: 10px;
  background-color: #333;
  display: none;
}

#sidebar:hover::-webkit-scrollbar {
  display: block;
}
#sidebar:hover::-webkit-scrollbar-thumbs {
  display: block;
}

#sidebar .sidebar-header {
  height: 65px;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}

.sidebar-header h3 {
  color: #333;
  font-size: 17px;
  margin: 0px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-weight: 600;
}

.sidebar-header h3 img {
  width: 45px;
  margin-right: 10px;
}

#sidebar ul li {
  padding: 2px 7px;
}

#sidebar ul li.active > a {
  color: #333;
  background-color: rgba(200, 200, 200, 0.2);
}

#sidebar ul li a:hover {
  color: #333;
  background-color: rgba(200, 200, 200, 0.2);
}

.dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 23px;
}

#sidebar ul li.drodown {
  position: sticky;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  padding: 10px;
  line-height: 30px;
  border-radius: 5px;
  font-size: 15px;
  position: relative;
  font-weight: 400;
  display: block;
}

#sidebar ul li a span {
  text-transform: capitalize;
  display: inline-block;
}

#sidebar ul li a i {
  position: relative;
  margin-right: 10px;
  top: 5px;
  color: #555555;
  margin-left: 10px;
}

/* ---------------------------------------------------
   sidebar end
----------------------------------------------------- */

/*=======================================================
   main-content navbar-design start
   ===============================================*/

#content {
  position: relative;
  transition: all 0.3s;
  background-color: #eeeeee;
}

.top-navbar {
  width: 100%;
  z-index: 9;
  position: relative;
}

.main-content {
  padding: 10px 20px 0px 20px;
  position: relative;
  width: 100%;
}

.navbar {
  height: 65px;
  background-color: #2196f3;
  color: #ffffff;
}

.navbar-brand {
  color: #ffffff;
}

.navbar button {
  background-color: transparent;
  border: none;
}
.navbar button span {
  color: #fff;
}

#sidebarCollapse {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin-right: 20px;
  border: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.09);
}

#sidebarCollapse span {
  margin: 9px;
  padding: 0px;
}

.navbar-nav > li.active {
  color: #ffffff;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.08);
}

.navbar-nav > li > a {
  color: #ffffff;
}

.navbar .notification {
  position: absolute;
  top: 5px;
  right: 10px;
  display: block;
  font-size: 9px;
  border: 0px;
  font-size: 10px;
  background: #d9534f;
  min-width: 15px;
  text-align: center;
  padding: 1px 5px;
  height: 15px;
  border-radius: 2px;
  line-height: 14px;
}

.navbar-nav > li.show .dropdown-menu {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

.dropdown-menu li > a {
  font-size: 13px;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 2px;
  font-weight: 400;
  transition: all 150ms linear;
}

.navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.08);
}

.navbar-nav li a {
  position: relative;
  display: block;
  padding: 10px 15px !important;
}

/*=======================================================
   main-content navbar-design end
   ===============================================*/

/*=======================================================
   main-content navbar-design start
   ===============================================*/

/*=======================================================
   main-content inner design like card start
   ===============================================*/

   .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 10px;
    width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    border-radius: 6px !important;
    border: none !important;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    position: relative;
}

.card-content {
    flex-grow: 1;
}

.card-footer {
    padding: 10px 20px; /* Adjust padding */
    background-color: #fff;
    border-top: 1px solid #eeeeee;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; /* Extend to the right edge of the card */
}

.card-footer .stats {
    line-height: 22px;
    color: #555555;
    font-size: 15px;
}


.card-footer hr {
    margin: 10px; /* Remove default margin for the horizontal line */
}

  
.card {
  border-radius: 0px !important;
}

.card {
  display: inline-block;
  position: relative;
  border: none !important;
  width: 100%;
  margin: 15px 0;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

.card-stats .card-header {
  float: left;
  text-align: center;
}

.card .card-header {
  padding: 15px 20px 0;
  z-index: 3;
  background-color: #fff !important;
  border-bottom: none;
}

.card .card-footer .stats .material-icons {
  position: relative;
  top: 4px;
  font-size: 16px;
}

.card-stats .card-header span {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
}

.icon.icon-warning {
  color: #ff9800;
}

.icon.icon-rose {
  color: #e91e63;
}
.icon.icon-success {
  color: #4caf50;
}
.icon.icon-info {
  color: #00bcd4;
}
.card .card-footer {
  margin: 0 7px 0px;
  padding-top: 10px;
  background-color: #fff;
  border-top: 1px solid #eeeeee;
}

.text-info {
  color: #03a9f4 !important;
}

.card-stats .card-content {
  text-align: right;
  padding-top: 10px;
}

.card .card-content {
  padding: 15px 20px;
  position: relative;
}

.card .card-content .category {
  margin-bottom: 0;
}
.card .category:not([class*="text-"]) {
  color: #555555;
  font-size: 14px;
  font-weight: 400;
}

.card .card-title:not(.card-calendar .card-title) {
  margin-top: 0;
  margin-bottom: 5px;
}

.card-stats .card-title {
  margin: 0;
}

.card .card-footer .stats {
  line-height: 22px;
  color: #555555;
  font-size: 15px;
}

.card .card-footer div {
  display: inline-block;
}

.card .card-header-text h4 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 19px;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
}

.table > thead > tr > th {
  border-bottom-width: 1px;
  font-size: 16px;
  font-weight: 400;
}

.card .card-content {
  padding: 15px 20px;
  position: relative;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.card-title {
    cursor: pointer;
}


/* Style for the numbered lists */
ol {
  list-style-type: bold;
  margin-left: 0;
  padding-left: 20px; /* Adjust the indentation as needed */
}

/* Style for the bullet points */
ul {
  list-style-type: disc;
  margin-left: 0;
  padding-left: 20px; /* Adjust the indentation as needed */
}

/* Style for the bold text inside list items */
li b {
  font-weight: bold;
}

/* Style for the paragraph text inside list items */
li ul li {
  margin-top: 5px; /* Add some spacing between the bullet points and paragraphs */
}

/* Default style for both buttons */
.complete-button, .not-complete-button {
  padding: 5px 10px;
  cursor: pointer;
}

/* Style for completed button */
.complete-button.completed {
  background-color: green;
  color: white;
}

/* Style for not completed button */
.not-complete-button.not-completed {
  background-color: red;
  color: white;
}

/* Style for Completed button */
.complete-button, .not-complete-button {
  padding: 3px 6px; /* Adjust padding for button size */
  font-size: 12px; /* Adjust font size */
  border: 1px solid #3498db; /* Add a border */
  background-color: #3498db; /* Button background color */
  color: #fff; /* Text color */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Hover state */
.complete-button:hover, .not-complete-button:hover {
  background-color: #2980b9; /* Darker background color on hover */
  border: 1px solid #2980b9; /* Darker border on hover */
  color: #fff; /* Text color on hover */
}

/* Active state (when clicked) */
.complete-button:active, .not-complete-button:active {
  background-color: #1f618d; /* Even darker background color when clicked */
  border: 1px solid #1f618d; /* Even darker border when clicked */
  color: #fff; /* Text color when clicked */
}



/*=======================================================
   heat labels
   ===============================================*/


        /* Define different colors for risk levels */
        .low-risk {
            fill: #00FF00; /* Green for low risk */
        }

        .medium-risk {
            fill: #FFFF00; /* Yellow for medium risk */
        }

        .high-risk {
            fill: #FF0000; /* Red for high risk */
        }

/* Define the map SVG */
svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-top: -250px;
  margin-left: 300px;
}

/* Style for each grid cell */
.grid-cell {
    stroke: #000; /* Black border for each cell */
}

.extreme {
  position: relative;
  left: 50px;
}

.red-box {
  position: relative;
  top: -18px;
  left: 80px; /* Adjust the distance as needed */
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color: red;
}
.orange-box {
  position: relative;
  top: -18px;
  left: 80px; /* Adjust the distance as needed */
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color: #FFA500 ;
}
.yellow-box {
  position: relative;
  top: -18px;
  left: 80px; /* Adjust the distance as needed */
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color: #FAFA55;
}
.lg-box {
  position: relative;
  top: -18px;
  left: 80px; /* Adjust the distance as needed */
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color: #53F553;
}
.dg-box {
  position: relative;
  top: -18px;
  left: 80px; /* Adjust the distance as needed */
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color:  #28B53F ;
}






/*=======================================================
   main-content inner design like card end
   ===============================================*/

/*=============================================
  footer design start
  =========================================*/

/* Add a class to your content wrapper to make it a flex container */
#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the content takes at least the full viewport height */
  }
  
  /* Style your card inside the section as needed */
  section .card {
    background-color: white;
    /* Add other card styles as needed */
    flex-grow: 1; /* Make the card expand to fill available vertical space */
  }
  
  /* Adjust footer styles */
  .footer {
    border-top: 1px solid #e7e7e7;
    margin-top: auto; /* Push the footer to the bottom of the container */
  }
  
  footer {
    padding: 10px 0;
    position: relative;
    width: 100%;
    /* Remove width: 100%; from here */
  }
  
  footer ul li {
    display: inline-block;
  }
  
  footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
  }
  
  footer .copyright {
    padding: 15px;
    font-size: 14px;
    margin: 0;
  }
  
  /*=============================================
    footer design end
    =========================================*/
  
  #sidebar.show-nav,
  .body-overlay.show-nav {
    transform: translateX(0%);
    opacity: 1;
    display: block;
    visibility: visible;
    z-index: 15;
  }
  

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (min-width: 992px) {
  #sidebar.active {
    width: 80px;
    height: 100% !important;
    position: absolute !important;
    overflow: visible !important;
    top: 0 !important;
    z-index: 666;
    float: left !important;
    bottom: 0 !important;
  }

  #sidebar.active .sidebar-header h3 span {
    display: none;
    transition: all 0.5s ease;
  }

  #sidebar.active ul li a span {
    display: none;
    transition: all 0.5s ease;
  }

  #sidebar.active .dropdown-toggle::after {
    display: none;
    transition: all 0.5s ease;
  }

  #content {
    width: calc(100% - 260px);
    position: relative;
    float: right;
    transition: all 0.3s;
    background-color: #eeeeee;
  }

  #content.active {
    width: calc(100% - 80px);
  }

  #sidebar.active .menu {
    position: absolute;
    left: 81px;
    background-color: white;
    width: 180px;
    height: auto;
    margin: 5px 0;
    top: 0;
    border: 1px solid #dcd9d9;
    z-index: 4;
  }
}

@media only screen and (min-width: 992px) {
  .dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    transform: translate3d(0, -20px, 0);
    visibility: hidden;
    transition: all 150ms linear;
    display: block;
    min-width: 15rem;
    right: 0;
    left: auto;
    opacity: 0;
  }
}

/*===============small-screen overlay sidebar design media queries==============*/

@media only screen and (max-width: 992px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: 260px;
    transform: translatex(-100%);
    transition: all 150ms linear;
    box-shadow: none !important;
  }

  .body-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    transition: all 150ms linear;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
/*===============small-screen overlay sidebar design media queries==============*/

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
